<div class="container mx-auto px-4 py-8 flex flex-col gap-12 font-primary" #pdfContent>

  <!-- Header -->
  <div class="flex flex-row justify-between">
    <div class="flex flex-col gap-4">
      <h1 class="text-5xl font-bold">
        {{name}}
      </h1>
      <p class="text-2xl font-bold">
        {{jobTitle}}
      </p>
    </div>
    <!-- Logo (optional) -->
    <div *ngIf="logo">
      <picture>
        <img [src]="logo" alt="Logo" width="80" height="80" />
      </picture>
    </div>
  </div>

  <!-- Contact (optional) -->
  <div class="grid grid-cols-2 gap-4" *ngIf="contactInfo">
    <dl class="w-full flex flex-row w-1/2" *ngFor="let contact of contactInfo.list">
      <dt class="w-1/3">
        <strong>{{contact.name}}</strong>
      </dt>
      <dd class="w-2/3">
        <span class="text-gray-500" [innerHTML]="contact.value"></span>
      </dd>
    </dl>
  </div>

  <!-- Intro -->
  <div class="flex flex-row">
    <div class="w-1/4">
      <h2 class="inline-block font-bold border-b-4 border-black">{{intro.title}}</h2>
    </div>
    <div class="w-3/4">
      <p>
        {{intro.description}}
      </p>
    </div>
  </div>

  <!-- Employment -->
  <div>
    <h2 class="inline-block font-bold border-b-4 border-black">{{employmentHistory.title}}</h2>
    <div class="flex flex-col gap-4 mt-4">
      <div class="flex" *ngFor="let employment of employmentHistory.list">
        <div class="w-1/4 text-sm font-semibold">
          {{employment.duration}}
        </div>
        <div class="w-3/4">
          <h3 class="font-bold">{{employment.jobTitle}}</h3>
          <ul class="list-disc list-inside ps-4">
            <li class="my-2 text-gray-500" *ngFor="let responsibility of employment.responsibilities">
              {{responsibility}}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- Education -->
  <div>
    <h2 class="inline-block font-bold border-b-4 border-black">{{education.title}}</h2>
    <div class="flex mt-4">
      <div class="w-1/4 text-sm font-semibold">
        {{education.duration}}
      </div>
      <div class="w-3/4">
        <h3 class="font-bold mb-2">{{education.university}}</h3>
        <p class="text-gray-500">{{education.degree}}</p>
        <p class="text-gray-500 text-sm" *ngIf="education.extra">{{education.extra}}</p>
      </div>
    </div>
  </div>

  <!-- Skills -->
  <div>
    <div class="flex">
      <div class="w-1/4">
        <h2 class="inline-block font-bold border-b-4 border-black">{{skills.title}}</h2>
      </div>
      <div class="w-3/4 flex flex-wrap gap-1">
        <span class="rounded-full px-2 py-1 bg-gray-100 text-xs" *ngFor="let skill of skills.list">{{skill}}</span>
      </div>
    </div>
  </div>

</div>

<button class="fixed bottom-4 right-4 px-2 bg-black hover:opacity-75 transition text-white rounded"
  (click)="downloadPDF()">
  PDF
</button>
