<div class="container mx-auto px-4 py-8 flex flex-col gap-12 font-primary">
  <form (ngSubmit)="onSubmit()" #resumeForm="ngForm">
    <div class="grid grid-cols-1 gap-10">

      <div class="max-w-md">
        <div class="grid grid-cols-1 gap-6">
          <label class="block">
            <span class="text-gray-700">Name</span>
            <input type="text" id="name" name="name" required [(ngModel)]="name" placeholder="" class="
              mt-1
              block
              w-full
              rounded-md
              border-gray-300
              shadow-sm
              focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50
            ">
          </label>
          <label class="block">
            <span class="text-gray-700">Job Title</span>
            <input type="text" id="jobTitle" name="jobTitle" [(ngModel)]="jobTitle" placeholder="" class="
              mt-1
              block
              w-full
              rounded-md
              border-gray-300
              shadow-sm
              focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50
            ">
          </label>
        </div>
      </div>

      <!-- Contact Info -->
      <div class="max-w-full">
        <div class="grid grid-cols-1 gap-6">
          <h3 class="text-2xl font-bold border-b-2 border-gray-600">Contact Info</h3>
          <ul class="flex flex-col gap-6">
            <li *ngFor="let contact of contactInfo.list; let i = index" class="flex flex-row items-end gap-6">
              <label class="block">
                <span class="text-gray-700">Name</span>
                <input type="text" placeholder="" name="name_{{i}}" [(ngModel)]="contact.name" class="
                  mt-1
                  block
                  w-full
                  rounded-md
                  border-gray-300
                  shadow-sm
                  focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50
                ">
              </label>
              <label class="block">
                <span class="text-gray-700">Value</span>
                <input type="text" placeholder="" name="value_{{i}}" [(ngModel)]="contact.value" class="
                  mt-1
                  block
                  w-full
                  rounded-md
                  border-gray-300
                  shadow-sm
                  focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50
                ">
              </label>
              <button type="button" (click)="removeContactInfo(i)" class="px-4 py-2 rounded border border-rose-600">
                Remove
              </button>
            </li>
          </ul>
          <div>
            <button type="button" class="px-4 py-2 rounded border border-gray-600" (click)="addNewContactInfo()">
              Add New
            </button>
          </div>
        </div>
      </div>

      <!-- Intro -->
      <div class="max-w-full">
        <div class="grid grid-cols-1 gap-6">
          <h3 class="text-2xl font-bold border-b-2 border-gray-600">Intro</h3>
          <label class="block max-w-md">
            <span class="text-gray-700">Title</span>
            <input type="text" name="introTitle" required [(ngModel)]="intro.title" placeholder="" class="
            mt-1
            block
            w-full
            rounded-md
            border-gray-300
            shadow-sm
            focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50
          ">
          </label>
          <label class="block">
            <span class="text-gray-700">Description</span>
            <textarea name="introDescription" required [(ngModel)]="intro.description" rows="5" class="
            mt-1
            block
            w-full
            rounded-md
            border-gray-300
            shadow-sm
            focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50
          "></textarea>
          </label>
        </div>
      </div>

      <!-- Education -->
      <div class="max-w-full">
        <div class="grid grid-cols-1 gap-6">
          <h3 class="text-2xl font-bold border-b-2 border-gray-600">Education</h3>
          <label class="block max-w-md">
            <span class="text-gray-700">Title</span>
            <input type="text" name="educationTitle" required [(ngModel)]="education.title" placeholder="" class="
            mt-1
            block
            w-full
            rounded-md
            border-gray-300
            shadow-sm
            focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50
          ">
          </label>
          <label class="block max-w-md">
            <span class="text-gray-700">Duration</span>
            <input type="text" name="educationDuration" required [(ngModel)]="education.duration" placeholder="" class="
            mt-1
            block
            w-full
            rounded-md
            border-gray-300
            shadow-sm
            focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50
          ">
          </label>
          <label class="block max-w-md">
            <span class="text-gray-700">University / Institute</span>
            <input type="text" name="educationUniversity" required [(ngModel)]="education.university" placeholder=""
              class="
            mt-1
            block
            w-full
            rounded-md
            border-gray-300
            shadow-sm
            focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50
          ">
          </label>
          <label class="block max-w-md">
            <span class="text-gray-700">Degree</span>
            <input type="text" name="educationDegree" required [(ngModel)]="education.degree" placeholder="" class="
            mt-1
            block
            w-full
            rounded-md
            border-gray-300
            shadow-sm
            focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50
          ">
          </label>
          <label class="block max-w-md">
            <span class="text-gray-700">Others (e.g., honours)</span>
            <input type="text" name="educationExtra" required [(ngModel)]="education.extra" placeholder="" class="
            mt-1
            block
            w-full
            rounded-md
            border-gray-300
            shadow-sm
            focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50
          ">
          </label>
        </div>
      </div>

      <!-- Skills -->
      <div class="max-w-full">
        <div class="grid grid-cols-1 gap-6">
          <h3 class="text-2xl font-bold border-b-2 border-gray-600">Skills</h3>
          <label class="block max-w-md">
            <span class="text-gray-700">Title</span>
            <input type="text" name="skillsTitle" required [(ngModel)]="skills.title" placeholder="" class="
              mt-1
              block
              w-full
              rounded-md
              border-gray-300
              shadow-sm
              focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50
            ">
          </label>
          <label class="block">
            <span class="text-gray-700">Skills (separate with comma)</span>
            <textarea name="skillsList" required [(ngModel)]="skillsList" (change)="onSkillsUpdate()" rows="5" class="
              mt-1
              block
              w-full
              rounded-md
              border-gray-300
              shadow-sm
              focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50
            "></textarea>
          </label>
        </div>
      </div>

      <div class="max-w-full sticky bottom-0 bg-white py-4">
        <button type="submit" class="px-4 py-2 rounded text-white bg-gray-600">Update</button>
      </div>
    </div>
  </form>
</div>
